.nav_links {
    display: flex;
    height: 50px;
    width: 100%;
    background-color: aliceblue;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: fixed;
    z-index: 1000;
    transition: transform 1s ease;
}

.nav_links a:hover {
    color: rgb(12, 56, 202);
    text-shadow: 0px 0px 8px rgba(5, 29, 107, 0.79);
}

.nav_hide {
    transform: translatex(-100%);
}

.baseimg {
    width: 100%;
    height: auto;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    margin-top: 50px;
}

.profile {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background: rgb(206, 185, 185);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgba(104, 14, 14, 0.1);
    position: relative;
    transition: transform 1s ease;
}

.profile_hide {
    transform: translatey(-100px);
}

.photo_container {
    border: 3px solid;
    background-color: rgba(198, 179, 107, 0.393);



}

.img_show {
    width: auto;
    height: 300px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(24, 9, 88, 0.79);
    margin: 10px;
}


#lightbox-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

#lightbox-img {
    max-width: 95%;
    max-height: 90vh;
    border: 3px solid white;
    border-radius: 6px;
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.4);
}